* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    text-decoration: none;
    color: black;
    padding: 1%;
    border: 3px solid black;
    border-radius: 10px;
}

.header {
    margin: auto;
    text-align: center;
}

.container {
    margin: auto;
    width: 60%;
    text-align: left;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
}

input {
    width: 100%;
    height: 40px;
    margin-top: 6px;
    padding-left: 20px;
    font-size: 15px;
}

.btns {
    margin-top: 20px;
}

#register {
    pointer-events: none;
    background-color: grey;
}

.btns {
    display: flex;
    justify-content: space-around;
}

p {
    margin-top: 14px;
}

button[type="submit"],
#otp-gen {
    display: block;
    margin: 30px auto;
    width: 30%;
    height: 30px;
    border-radius: 10px;
    background-color: #fd79a8;
}

#timeshower {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* .login {
    float: right;
    background: #FC5C7D;

background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);

background: linear-gradient(to right, #6A82FB, #FC5C7D);

}
*/


/* .register {
    background: #FC5C7D;
background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
background: linear-gradient(to right, #6A82FB, #FC5C7D);

}
*/

button:hover {
    color: white;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 50%);
    font-weight: 600;
    animation: mohit 4s infinite;
}

@keyframes mohit {
    from {
        background: #6A82FB;
    }
    to {
        background: #FC5C7D;
    }
}

@media(max-width: 1200px) {
    .container {
        width: 70%;
    }
}

@media(max-width: 900px) {
    .container {
        width: 80%;
    }
}

@media(max-width: 600px) {
    .container {
        width: 90%;
    }
}

@media(max-width: 502px) {
    .container {
        width: 97%;
    }
    h1 {
        font-size: 150%;
    }
}

@media(max-width: 354px) {
    #otp-gen {
        width: 70%;
    }
}